<form>
	<input type="text" id="text" name="text" value="Hello World">
	<button onclick="speak(this.parentElement.getElementById('text').value)">Speak</button>
</form>
<script>
async function speak(text, language='en') {
const response = await fetch('/api/v1/speak/', {
    method: "POST",
    headers: {
        'Content-Type': 'application/json'
    },
    body: JSON.stringify({
        text: text,
        language: language
    })
});

const audioBlob = await response.blob();
const audioUrl = window.URL.createObjectURL(audioBlob);

const audioEl = document.createElement('audio');
audioEl.src = audioUrl;
audioEl.play();

return audioEl
}
</script>